$font-primary: "Open Sans", sans-serif;
$font-secondary: "Montserrat", sans-serif;

body {
}

h1, h2, h3, h4, h5, h6 {
  color: white;
}

.close {
  color: white;
  opacity: 1;
  text-shadow: 0px;
  border: 3px solid #fff;
  border-radius: 50%;
  width: 26px;
  height: 26px;
  line-height: 13px;
  text-align: center;
  &:hover, &:active, &:focus {
    background: rgba(255, 255, 255, 0.5);
    color: #fff;
    text-shadow: 0px;
    opacity: 1;
  }
}

.logo {
  background: url('../images/mandala-branca.png') no-repeat center center / contain;
  width: 160px;
  height: 160px;
  margin: -95px auto 0;
  transition: 0.4s linear;
  transition-property: top, width;
  position: absolute;
  left: 0px;
  right: 0px;
  top: 0px;

  &.small {
    width: 90px;
    top: -40px;
  }
}

.menu {
  text-align: right;
  margin: 0 0;
  padding: 20px 0 0;
  list-style: none;
  z-index: 2;
  top: -20px;
  position: relative;
  li {
    color: white;
    text-transform: uppercase;
    font-family: $font-secondary;
    font-size: 15px;
    font-weight: 100;

    a {
      color: white;
      &:hover, &:focus, &:active {
        text-decoration: none;
      }
    }

    .bullet {
      background: #9DA6B7;
      width: 15px;
      height: 15px;
      display: inline-block;
      border-radius: 50%;
      margin-left: 10px;
      transition: 0.1s linear all;
    }

    &.active {
      font-weight: 900;

      .bullet {
        background: white; 
        transform: scale(1.4);
      }
    }
  }
}

.help {
  background: rgba(0, 0, 0, 0.5);
  border-radius: 100%;
  width: 100%;
  text-align: center;
  bottom: -100px;
  position: fixed;
  width: 160px;
  height: 160px;
  bottom: 40px;
  z-index: 10;
  color: white;
  margin-left: -75px;

  div {
    position: absolute;
    font-family: $font-secondary;
    weight: bold;
    font-size: 18px;
    text-transform: uppercase;
    left: 0px;
    margin: 50px auto 0;
    width: 100%;

    &:before, &:after {
      content: "";
      width: 50px;
      height: 6px;
      background: #fff;
      display: block;
      margin: auto auto;
    }

    &:before {
      margin-bottom: 10px;
    }

    &:after {
      margin-top: 10px;
    }
  }

  img {
    position: relative;
    float: right;
    right: -30px;
    top: 50px;
    animation: shake 100s ease-in infinite;
    animation-delay: 2s;
    transform: rotate(-5deg);
    transform-origin: 0% 90%;
  }

  &:hover, &:active, &:focus {
    color: white,
  }
}

@keyframes shake {
    0% {transform: rotate(25deg);}
    0.1% {transform: rotate(-35deg);}
    0.2% {transform: rotate(25deg);}
    0.3% {transform: rotate(-35deg);}
    0.4%, 100% {transform: rotate(-5deg);}
}

.btn {
  &.btn-primary {
    background: rgba(255,255,255,0.5);
    border: 0px;
    border-radius: 0px;
    color: #333;
    &:active {
      background: rgba(255,255,255,0.8);
      color: #333;
    }
  }

  &.btn-video-play {
    font-family: $font-secondary;
    text-transform: uppercase;
    font-size: 20px;
    padding: 15px 60px;

    img {
      position: relative;
      margin-top: -7px;
    }
  }

  &.btn-contribute {
    background: #EC0C79;
    font-size: 24px;
    font-family: $font-secondary;
    text-transform: uppercase;
    color: white;
    padding: 20px 40px;
    font-weight: 100;
    margin-top: 40px;
    transition: 0.1s ease-in all;
    
    &:hover {
      background: #CC0A69;
    }
  }
}

.navbar-nav {
  padding: 15px;
  > li {
    a {
      color: white;
      font-size: 14px;
      text-transform: uppercase;
      border: 2px solid white;
      font-weight: bold;
      padding: 8px 15px;

      &:hover, &:active {
        color: white;
        background: none;
      }
    }
  }
}

.intro {
  text-align: center;
  color: white;
  background: url('../images/imagem1.jpg') no-repeat center center / cover;
  padding-bottom: 250px;

  .close {
    right: -45px;
    top: -45px;
    position: relative;
    display: none;
    z-index: 10;
  }
  
  .container {
    margin-top: 45px;
  }

  h1 {
    text-transform: uppercase;
    font-size: 60px;
    margin-top: 90px;
    font-weight: bold;
    font-family: $font-secondary;
    letter-spacing: 1px;
  }

  p {
    font-size: 28px;
    font-weight: 300;
    font-family: $font-primary;
    margin-bottom: 40px;
  }

  .box {
    padding: 15px;
  }

  #main-video {
    position: absolute;
    top: -12px;
    left: 7px;
    width: 748px !important;
    height: 468px !important;
    z-index: 10;
    transform: scale(0);
    opacity: 0;
    transition: all .4s ease;

    &.open {
      transform: scale(1);
      opacity: 1;
    }
  }
}



.stories {
  margin-top: -230px;
  padding-top: 200px;
  padding-bottom: 220px;
  position: relative;
  z-index: 1;

  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#0570a4+0,0570a4+100&0+0,1+20,1+80,0+100 */
  background: -moz-linear-gradient(top, rgba(5,112,164,0) 0%, rgba(5,112,164,1) 20%, rgba(5,112,164,1) 80%, rgba(5,112,164,0) 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(5,112,164,0)), color-stop(20%,rgba(5,112,164,1)), color-stop(80%,rgba(5,112,164,1)), color-stop(100%,rgba(5,112,164,0))); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, rgba(5,112,164,0) 0%,rgba(5,112,164,1) 20%,rgba(5,112,164,1) 80%,rgba(5,112,164,0) 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, rgba(5,112,164,0) 0%,rgba(5,112,164,1) 20%,rgba(5,112,164,1) 80%,rgba(5,112,164,0) 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top, rgba(5,112,164,0) 0%,rgba(5,112,164,1) 20%,rgba(5,112,164,1) 80%,rgba(5,112,164,0) 100%); /* IE10+ */
  background: linear-gradient(to bottom, rgba(5,112,164,0) 0%,rgba(5,112,164,1) 20%,rgba(5,112,164,1) 80%,rgba(5,112,164,0) 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000570a4', endColorstr='#000570a4',GradientType=0 ); /* IE6-9 */

  h2 {
    font-size: 60px;
    text-transform: uppercase;
    font-family: $font-secondary;
    font-weight: 100;
    text-align: right;
    padding-right: 25px;
    margin-top: 0px;

    b {
      display: block;
      font-weight: 900;
    }
  }

  h3 {
    font-family: $font-secondary;
    text-transform: uppercase;
    font-size: 20px;
    font-weight: bold;
  }

  p {
    color: white;
    font-family: $font-primary;
    font-size: 18px;
    font-weight: 100;
    margin-top: 6px;
  }

  ul {
    padding: 0;
    margin-top: 30px;
    li {
      display: inline-block;
      width: 90px;
      height: 90px;
      border-radius: 100%;
      background: red;

      &:not(:last-child) {
        margin-right: 15px;
      }
    }
  }

  .box {
    padding-left: 10px;
  }
}

.dreams {
  background: url('../images/imagem2.jpg') no-repeat center center / cover;
  padding: 400px 0;
  position: relative;
  margin-top: -430px;
  text-align: center;

  > div {
    position: relative;
  }

  h2 {
    font-size: 70px;
    text-transform: uppercase;
    font-family: $font-primary;
    font-weight: 100;
    margin-bottom: 80px;

    b {
      font-family: $font-secondary;
      display: block;
      font-weight: 900;
    }
  }
  p {
    color: white;
    font-family: $font-primary;
    font-weight: 300;
    font-size: 18px;
    margin-top: 15px;
  }
  img {
    width: 80%;
  }
  p {
    b {
      display: block;
      margin-bottom: 5px;
    }
  }
}


.for-you {
  margin-top: -430px;
  padding-top: 350px;
  padding-bottom: 350px;
  z-index: 1;
  position: relative;
  text-align: center;
  
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ed0e79+0,ed0e79+100&amp;0+0,1+20,1+80,0+100 */
  background: -moz-linear-gradient(top,  rgba(237,14,121,0) 0%, rgba(237,14,121,1) 20%, rgba(237,14,121,1) 80%, rgba(237,14,121,0) 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(237,14,121,0)), color-stop(20%,rgba(237,14,121,1)), color-stop(80%,rgba(237,14,121,1)), color-stop(100%,rgba(237,14,121,0))); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  rgba(237,14,121,0) 0%,rgba(237,14,121,1) 20%,rgba(237,14,121,1) 80%,rgba(237,14,121,0) 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  rgba(237,14,121,0) 0%,rgba(237,14,121,1) 20%,rgba(237,14,121,1) 80%,rgba(237,14,121,0) 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  rgba(237,14,121,0) 0%,rgba(237,14,121,1) 20%,rgba(237,14,121,1) 80%,rgba(237,14,121,0) 100%); /* IE10+ */
  background: linear-gradient(to bottom,  rgba(237,14,121,0) 0%,rgba(237,14,121,1) 20%,rgba(237,14,121,1) 80%,rgba(237,14,121,0) 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ed0e79', endColorstr='#ed0e79',GradientType=0 ); /* IE6-9 */

  #beneficios {
    padding-top: 100px;
    margin-top: -100px;
  }

  h2 {
    font-size: 60px;
    text-transform: uppercase;
    font-family: $font-secondary;
    font-weight: 100;
    text-align: right;
    padding-right: 25px;

    b {
      font-family: $font-secondary;
      display: block;
      font-weight: 900;
    }
  }

  h3 {
    font-family: $font-secondary;
    text-transform: uppercase;
    font-size: 16px;
    font-weight: bold;
    text-align: left;
  }

  p {
    color: white;
    font-family: $font-primary;
    font-size: 18px;
    font-weight: 100;
    text-align: left;
  }
  .col-md-push-2 {
    h3, p {
      text-align: right !important;
    }
  }

  .pull {
    position: relative;
  }
}

.contribute {
  background: url('../images/imagem3.jpg') no-repeat center center / cover;
  padding: 270px 0 100px;
  position: relative;
  margin-top: -400px;
  text-align: center;

  .box {
     background: rgba(255, 255, 255, 0.8);
     padding: 20px 20px 45px;
  }

  h2, p {
    color: #2f2f2f;
  }

  h2 {
     text-transform: uppercase;
     font-family: $font-secondary;
     font-weight: bold;
     font-size: 60px;
  }

  p {
     font-family: $font-primary;
     font-size: 16px;
     margin-bottom: 25px;
  }

  .choices {
    width: 80%;
    margin: auto auto;
    .col-xs-12 {
       padding: 0px;
       padding-left: 1px;
    }
    a {
      background: rgba(0,0,0,0.5);
      display: block;
      transition: 0.1s ease-in all;
      color: white;
      padding: 15px;

      &:hover, &:active, &:focus {
        background: rgba(0,0,0,0.1);
        text-decoration: none;
      }

      .price {
        color: white;
        font-size: 25px;
        font-family: $font-primary;
        b {
          font-size: 60px;
          font-family: $font-secondary;
        }
      }

      h4 {
        font-size: 20px;
        font-family: $font-secondary;
        text-transform: uppercase;
        font-weight: bold;
      }

      p {
        font-size: 16px;
        color: white;
        margin-bottom: 15px;

        @media (max-width: 767px) {
          br {
            display: none;
          }
        }
      }

      .icons {
        img {
          width: 35px;
          display: inline-block;
          &:not(:last-child) {
            margin-right: 5px;
          }
        }
      }
    }
  }

  span {
    font-family: $font-primary;
    color: #888;
    font-size: 16px;
    margin-top: 15px;
    display: inline-block;

    a {
       font-weight: bold;
       color: #777;
       text-decoration: underline;
    }
  }
}

.full {
  display: none;
}


@media (min-width: 992px) and (max-width: 1199px) {
  .for-you {
    margin-top: -450px;
    padding-top: 390px
  }
  .contribute {
    background: url('../images/imagem3.jpg') no-repeat center center / cover;
    padding: 270px 0 100px;
    position: relative;
    margin-top: -440px;
    text-align: center;
  }
  .md.full {
    display: block;
    pointer-events: none;
  }
  .contribute .choices a .price b {
    font-size: 45px;
  }
  .intro {
    #main-video {
      top: -13px;
      left: 25px;
      width: 579px !important;
      height: 564px !important;
    }
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .stories {
    h2 {
      font-size: 50px;
    }
    ul {
      li {
        width: 70px;
        height: 70px;
      }
    }
  }
  .for-you {
    padding-bottom: 80px;
    padding-top: 250px;
    h2 {
      text-align: left;
    }
    br {
      display: none;
    }
  }
  .contribute {
    margin-top: -300px;
  }
  .intro {
    #main-video { top: -14px;
      left: 29px;
      width: 669px !important;
      height: 511px !important;
    }
  }
}

@media (max-width: 767px) {
  .intro {
    padding-bottom: 220px;
    h1 {
      font-size: 40px;
    }
    .logo {
      width: 100px;
      height: 100px;
      top: 60px;
    }
    p {
      font-size: 20px;
    }
    .btn.btn-video-play {
      font-size: 20px;
      padding: 15px;
    }

    #main-video {
      top: 77px;
      left: 0px;
      width: 100% !important;
      height: 511px !important;
    }
    .close {
      right: 0px;
      top: 28px;
    }
  }

  .stories {
    h2 {
      font-size: 50px;
      text-align: center;
    }
    ul {
      li {
        width: 70px;
        height: 70px;
      }
    }
  }
  .dreams {
    padding-bottom: 300px;
    img {
      width: 30%
    }
    p {
      margin-bottom: 30px;
    }
    h2 {
      font-size: 50px;
      margin-bottom: 60px;
    }
  }

  .for-you {
    padding-bottom: 80px;
    padding-top: 250px;
    h2 {
      text-align: left;
      font-size: 40px;
    }
    br {
      display: none;
    }
  }

  .nav.navbar-nav {
    text-align: left;
    padding: 15px;
    display: block;
    li {
      display: inline-block;
      margin-left: 20px;
    }
  }

  .contribute {
    margin-top: -280px;
    .row {
      margin: 0 0;
    }
    .btn.btn-contribute {
      font-size: 20px;
    }
  }
}
